// Tang Nano 9K / GW1NR-LV9QN88PC6/I5

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst_i" 4;
IO_PORT "rst_i" IO_TYPE=LVCMOS18 PULL_MODE=UP;

// Built-in USB serial
IO_LOC  "TXD" 17;
IO_PORT "TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RXD" 18;
IO_PORT "RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
